In [1]:
library(dplyr)
library(igraph)
library(ggplot2)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union


Attaching package: ‘igraph’

The following objects are masked from ‘package:dplyr’:

    as_data_frame, groups, union

The following objects are masked from ‘package:stats’:

    decompose, spectrum

The following object is masked from ‘package:base’:

    union

In [2]:
df <- read.csv("/home/polichinel/Dropbox/KU/9.semester/SNA/data/DIPCON_3.0_Dyads.csv")

In [3]:
head(df,3)

  X ccode1 abbrev1 ccode2 abbrev2 dipcon1970 dipcon1975 dipcon1980 dipcon1985
1 0 2      USA     20     CAN      1         1          1          1
2 1 2      USA     31     BHM     NA         0          1          1
3 2 2      USA     40     CUB      0         0          0          0
  dipcon1990 dipcon1995 dipcon2000 dipcon2005 dipcon2010
1 1          1          1          1          1
2 1          1          1          1          1
3 0          0          0          1          1

In [4]:
get_edge_lists <- function(df){

    years <- c(1970,1975,1980,1985,1990,1995,2000,2005,2010)
    list_of_graphs <- list()

    for (i in 1 : length(years)) {

        feature_name <- paste0('dipcon',years[i])
        graph_name <- paste0('G_',years[i])

        edge_list <- df %>% filter(df[feature_name] > 0) %>% select(abbrev1, abbrev2)# year specific edge lists
        
        g <- graph.data.frame(edge_list, directed = T)

        list_of_graphs[[graph_name]] <- g


    }
    
    return(list_of_graphs)       

}

In [5]:
get_edge_lists <- get_edge_lists(df)

In [6]:
get_edge_lists$G_2010

IGRAPH df5dc39 DN-- 190 8271 --
+ attr: name (v/c)
+ edges from df5dc39 (vertex names):
 [1] USA->CAN USA->BHM USA->CUB USA->HAI USA->DOM USA->JAM USA->TRI USA->BAR
 [9] USA->MEX USA->BLZ USA->GUA USA->HON USA->NIC USA->COS USA->PAN USA->COL
[17] USA->SUR USA->ECU USA->PER USA->BRA USA->PAR USA->CHL USA->ARG USA->URU
[25] USA->UKG USA->IRE USA->BEL USA->FRN USA->SWZ USA->SPN USA->POR USA->GMY
[33] USA->POL USA->AUS USA->HUN USA->CZR USA->SLO USA->ITA USA->ALB USA->MNG
[41] USA->MAC USA->CRO USA->YUG USA->BOS USA->KOS USA->SLV USA->GRC USA->BUL
[49] USA->MLD USA->ROM USA->RUS USA->EST USA->LAT USA->LIT USA->UKR USA->ARM
[57] USA->GRG USA->FIN USA->SWD USA->NOR USA->DEN USA->ICE USA->CAP USA->EQG
+ ... omitted several edges